<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
		<mapping class="net.sf.mpango.common.directory.entity.User" />
		<mapping class="net.sourceforge.mpango.entity.Player" />
        <mapping class="net.sourceforge.mpango.entity.GameContext" />
        <mapping class="net.sourceforge.mpango.entity.GameBoard" />
        <mapping class="net.sourceforge.mpango.entity.GameConfiguration" />
        <mapping class="net.sourceforge.mpango.entity.BoardConfiguration" />
        <mapping class="net.sourceforge.mpango.entity.Cell" />
        <mapping class="net.sourceforge.mpango.enums.Resources" />
        <mapping class="net.sourceforge.mpango.entity.Construction" />
   </session-factory>
</hibernate-configuration>
